---
// @ts-ignore
import { Picture, Image } from "astro:assets";
import Card from "@components/card.astro";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureAI from "../assets/feature-ai.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import Whiteboard from "../assets/whiteboard.jpg";
---

<div class="mt-24 text-center">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need for your <span class="text-red-500">
      Ecommerce Business</span
    >
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Ecommerce Explorer is a coaching program designed to help you build a 7+
    figure ecommerce business using the most powerful AI tools and strategies.
    No matter what your experience level is, we will help you build a profitable
    ecommerce business.
  </p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" color="orange">
    <Fragment slot="image">
      <Picture
        src={Whiteboard}
        alt="Meeting With Ecommerce"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain rounded-lg"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">World Class Coaching</span>
    <span slot="title">World Class Coaching & Expert Assistance</span>
    <span slot="desc">
      Get leading coaching and expert assistance from our world-class coaches
      and other ecommerce business owners.</span
    >
  </Card>
  <Card class="lg:col-span-2" color="red">
    <Fragment slot="image">
      <Picture
        src={FeatureAI}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">AI Powered</span>
    <span slot="title">AI Powered Tools and Software</span>
    <span slot="desc">
      The worlds most advanced AI tools designed specifically for Ecommerce
      business owners.</span
    >
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgThree}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Calculators</span>
    <span slot="title">A Suite of Ecommerce Calculators</span>
    <span slot="desc">
      Use our suite of ecommerce calculators to help you make better decisions
      for your business.
    </span>
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgTwo}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Analytics</span>
    <span slot="title">Understand Your Numbers & Profitability</span>
    <span slot="desc">
      Our team of experts will help you understand your numbers and make more
      informed decisions.
    </span>
  </Card>

  <Card size="sm">
    <Fragment slot="image">
      <!-- // svg image. cannot use <picture/> as of now -->
      <Image
        src={IntegrationImg}
        alt="Feature image"
        width="909"
        height="823"
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Resouces</span>
    <span slot="title">1000+ Guides At Your Fingertips</span>
    <span slot="desc">
      We have created 1000's of Guides and Tutorials so that you never get stuck
      again.
    </span>
  </Card>
</div>
