---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "./Layout.astro";
import { SEO } from "astro-seo";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      title={frontmatter.title}
      description={frontmatter.snippet}
      openGraph={{
        basic: {
          title: frontmatter.title,
          type: "image/png",
          image: frontmatter.image,
          url: frontmatter.url,
        },
        image: {
          alt: frontmatter.title,
        },
      }}
    />
  </head>
  <body>
    <Layout title={frontmatter.title}>
      <Container>
        <Sectionhead>
          <Fragment slot="title">{frontmatter.title}</Fragment>
          <Fragment slot="desc">
            Last updated on {frontmatter.date}
          </Fragment>
        </Sectionhead>

        <div class="mx-auto prose mt-10">
          <slot />
        </div>
      </Container>
    </Layout>
  </body>
</html>
